/* * {
    border: 1px solid;
} */

.layout {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.side-bar {
    width: 25%;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 75%;
}

.hero {
    height: 100vh;
    background-image: url(../css/images/hero-bg.png);
    width: 100v;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero div {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: max-content;
}

.avatar-rounded-box {
    width: 200px;
    height: 200px;
    clip-path: circle(50% at center);
    background-image: url(./images/profile-bg.png);
    background-size: cover;
    background-position: center;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}